.container{
    width: 100%;
    background: var(--footer-bg);
}

.top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    color: var(--orange);
    row-gap: 2rem;
}

.top h3{
    border-bottom: 1px solid var(--orange);
    margin-bottom: 1rem;
    width: 80%;
    padding-left: 1rem;
}

.top a{
    color: var(--text-on-black-bg);
}

.top a:hover{
    color: var(--orange);
    letter-spacing: 6px;
    transition: .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.products, .links, .contacts{
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
}

.products a, .links a, .contacts a{
    padding-left: 1rem;
}

.contacts a{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.bottom{
    width: 100%;
    background: #000;
    color: var(--text-on-black-bg);
    padding: .2rem;
    text-align: center;
    font-size: 12px;
    border-top: 1px solid var(--text-on-black-bg);
    margin-top: 2rem;
}

/* --------------------------------- MOBILE VIEW ----------------------------------- */

@media screen and (max-width: 600px) {
    .products, .links, .contacts{
        min-width: 100%;
    }
    
}

@media screen and (max-width: 425px) {
    .top a{
        font-size: 12px;
    }

}

@media screen and (max-width: 320px) {
    .top a{
        font-size: 10px;
    }

}