.container{
    width: 100%;
}

.page_bg_Container{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_bg_Container img{
    filter: brightness(35%);
    object-fit: cover;
}

.quote{
    position: absolute;
    z-index: 1;
    color: var(--gray);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
}

.quote p{
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    color: var(--orange);
}

.quote h3{
    color: var(--gray);
    font-size:x-large;
}


@media screen and (max-width: 600px) {
    .quote p{
        font-size:larger;
    }
    
    .quote h3{
        font-size:large;
    }

}