.welcomeText h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    color: var(--light-blue);
}

.handWave{
    color: #DAAA80;
}

.welcomeText p{
    font-family: cursive;
    font-style: italic;
    color: grey;
}

.userProfile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.notificationIconContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notificationIcon{
    font-size: 2rem;
    color: var(--light-blue);
}
.notificationIconIndicator{
    position: absolute;
    right: 10%;
    top: 10%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
}

.openMenu{
    display: none;
}

@media screen and (max-width: 768px) {
    .openMenu{
        display: block;
        color: var(--light-blue);
        font-size: x-large;
    }
}

@media screen and (max-width: 500px) {
    .welcomeText h1{
        font-size: xx-large;
    }

    .welcomeText p{
        font-size: medium;
    }

    .userProfile{
        gap: 1rem;
    }

    .notificationIcon{
        font-size: xx-large;
    }

}

@media screen and (max-width: 400px) {
    .welcomeText h1{
        font-size: x-large;
    }

    .welcomeText p{
        font-size: small;
    }

    .userProfile{
        gap: .5rem;
    }

    .notificationIcon{
        font-size: x-large;
    }

    .notificationIconIndicator{
        width: 5px;
        height: 5px;
    }
}

    @media screen and (max-width: 290px) {
        .handWave{
            display: none;
        }
    }