.container{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, var(--primary-blue), var(--light-blue))
}

.formContainer{
    width: 90%;
    display: flex;
    margin: 2rem 0;
    background: var(--white);
    box-shadow: var(--card-shadow);
}

.illustration, .form{
    width: calc(100% / 2)
}

.illustration img{
    width: 100%;
    height: 100%;
}

.illustration{
    background: #f8f8f8;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1{
    color: var(--light-blue);
    margin: 3rem 0;
}

.formInputs{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.inputDiv label{
    font-size: smaller;
}

.inputContainer{
    display: flex;
    align-items:center;
    padding: .1rem;
    border-radius: 5px;
    gap: .5rem;
    color: gray;
    border: 1px solid var(--very-light-blue)
}

.inputContainer span{
    display: flex;
    align-items:center;
    height: 2.5rem;
}

.inputContainer input{
    width: 100%;
    height: 2.5rem;
    border: none;
    outline: none;
}

.inputContainer:focus-within{
    border: 1px solid var(--light-blue);
}

.inputContainer input::placeholder{
    color: gray;
}

.passwordVisible{
    cursor: pointer;
}

.buttonContainer button{
    width: 100%;
    height: 40px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: var(--white);
    background: var(--light-blue);
}

.formInputs small{
    text-align: center;
    color: var(--button-disabled);
}

.formInputs small a{
    color: var(--light-blue)
}

.err{
    color: red !important;
}
.serverErr{
    text-align: center;
    padding: 0 1rem;
}


/*---------------------------------------------------- MOBILE VIEW------------------------------ */
@media screen and (max-width: 768px) {
    .container{
        justify-content: center;
        align-items: flex-start;
    }

    .illustration{
        display: none;
    }

    .formContainer{
        border-radius: 10px;
    }
    
    .form{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .formInputs{
        width: 100%;
    }

    /* .buttonContainer button{
        padding: 1rem;
    } */
}

@media screen and (max-width: 350px) {
    .formContainer{
        width: 95%;
    }

    .formInputs{
        padding: 10px;
    }
}